.site-container{
    text-align: center;
  }
  html {
    font-size: 14px;
  }
  body {
    line-height: 1.5;
    color: black;
    margin:0;
  } 
  
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  
  .instagram-logo{
    height: 80px;
    width: 220px;
  }
  
  .camera-icon{
    height: 80px;
    width: 100px;
  }
  
  .main-containter{
    text-align: center;
    margin-top: 10px;
    border: 1px solid grey;
    margin-right: 420px;
    margin-left: 420px;
    border-radius: 10px;
  }
  
  
  .name-location{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
  }
  
  .three-dot-container{
    padding-right: 5px;
  }
  
  .post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .post-image-container{
    margin-top: 10px;
  }
  
  .location,.Date,.like-count{
    color: grey;
  }
  
  .post-img{
    height: 200px;
    width: 450px;
  }
  
  .activity-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .heart,.comment,.send{
    height: 50px;
    width: 50px;
  }
  .description-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
  }