#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parentBlock {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.firstBlock {
    display: flex;
    flex-direction: row;
}

.first,
.second {
    background-color: gold;
}

.secondBlock {
    background-color: hotpink;
}

.thirdBlock {
    display: flex;
}

.tfirst,
.tsecond,
.tthird {
    background-color: mediumslateblue;
}