body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container{
  border: 1px solid;
  margin: 10%;
}

.header{
  /* border: 1px solid; */
  display:flex;
  margin: 10px;
}

.title-container{
  text-align: center;
  margin-left: 440px;
}
.title-label{
  color: dimgrey;
}


.print-button-container{
  margin-left: 360px;

}
.btn{
  padding: 10px;
  margin: 20px;
  width: 70px;
  background-color: black;
  color: white;
}

.customer-info{
  /* border: 1px solid; */
  margin: 10px;
}

.customer-info-label{
  color: dimgray;
}

.order-info{
  /* border: 1px solid; */
  margin: 10px;
  display: flex;
  background-color:lightgrey;
}
.door{
  margin-left: 200px;
}

.time{
  margin-left: 200px;
}
.product-list{
  /* border: 1px solid; */
  margin: 10px;
  display: flex;
}

.avatar{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.product-bolt{
  margin-left: 50px;
}
.bolt-label{
  color: dimgrey;
}